<div class="container">
    <div class="d-lg-flex py-lg-11 py-9 justify-content-lg-between flex-column flex-lg-row text-center text-lg-start">
        <p class="h4 mb-4 mb-lg-0 footer-content">想看什麼主題由你決定！</p>
        <div class="text-lg-end">
            <p class="fs-5 fs-lg-4 fw-bold mb-lg-4 lh-sm pb-7 pb-lg-0">歡迎投稿與我們分享</p>
            <a href="#" class="btn btn-secondary-200 fs-lg-5 text-white contact fs-6">聯絡我們</a>
        </div>
    </div>
    <p class="text-center text-primary-400 py-5 py-lg-6 border-top border-gray-300 copyright" style="letter-spacing: 0.05em;">©Vivre 2024 All right Reserved</p>
</div>



