<nav class="navbar navbar-expand-lg bg-primary-100 py-0">
    <div class="container header-nav border-bottom-lg border-gray-300 sticky-top">
      <a class="navbar-brand me-7 d-none d-lg-block" href="index.html"><img src="../assets/images/Vivre.png" alt="vivre"></a>
      <button class="navbar-toggler collapsed border-0 d-flex d-lg-none w-100 align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <a class="navbar-brand brand" href="index.html"><img src="../assets/images/Vivre-sm.png" alt="vivre"></a>
        <span class="navbar-toggler-icon open fs-6 align-middle ms-auto"></span>
        <i class="bi bi-x-lg close align-middle ms-auto"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="position-relative my-6 my-lg-0" role="search">
            <input class="form-control rounded-pill w-100" type="search" placeholder="搜尋文章" aria-label="Search" style="letter-spacing: 0.05em; width: 276px;">
            <button class="btn border-0 position-absolute translate-middle-y p-0" type="submit" style="right: 7%; top: 53%;" ><i class="bi bi-search" style="font-size: 24px; color: rgba(86, 149, 115, 1);"></i></button>
        </form>  
        <ul class="navbar-nav ms-auto align-items-lg-center no-scrollbar">
          <li class="nav-item me-lg-5 mb-6 mb-lg-0">
            <a class="nav-link text-gray-500 p-2 px-lg-5 py-lg-2" href="#">所有文章</a>
          </li>
          <li class="nav-item me-lg-5 mb-6 mb-lg-0">
            <a class="nav-link text-gray-500 p-2 px-lg-5 py-lg-2" href="#">訂閱方案</a>
          </li>
          <li class="nav-item me-lg-5 mb-8 mb-lg-0">
            <a class="nav-link text-gray-500 p-2 px-lg-5 py-lg-2" href="#">關於我們</a>
          </li>
          <li class="nav-item mb-8 mb-lg-0">
            <a class="btn btn-secondary-200 rounded-pill w-100 p-3 px-lg-5 pt-lg-3 pb-lg-2 text-white" href="#" style="padding-bottom: 13px; padding-top: 19px;">登入/註冊</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
