<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>index</title>
  </head>
  <body class="bg-primary-100">
    <%- include('./layout/header'); -%>
    
    <div class="container fixed-top d-none d-lg-block" style="top: 124px;">
      <div class="w-100 border-bottom-lg border-gray-300"></div>
    </div>
    <div class="index-nav py-lg-11">
      <div class="container">
        <div class="nav-bg d-flex flex-column justify-content-lg-center align-items-lg-start justify-content-end align-items-center">
          <p class="fs-6 fw-bold text-white mb-2 mb-sm-3 nav-content text-center">獻給新世代的生活風格誌</p>
          <p class="fs-3 fw-bolder text-white mb-5 mb-sm-6 nav-content-lg text-center">一起探索生活的無限可能</p>
          <button type="button" class="btn btn-secondary-200 rounded-pill text-white subscribe fs-6 fw-bold nav-content">馬上訂閱<i class="bi bi-arrow-right ms-3 fs-5 fs-lg-4 align-middle"></i></button>
       </div>
      </div>
    </div>
    <div class="container py-9 py-md-11">
      <h2 class="fs-4 fs-sm-2 mb-4 mb-lg-0">熱門主題</h2>
      <ul class="row flex-wrap list-unstyled g-2 g-sm-6 my-0">
        <li class="col-lg-3 col-sm-6">
          <div class="position-relative theme theme-1">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">城市漫遊者</h5>
          </div>
        </li>
        <li class="col-lg-3 col-sm-6">
          <div class="position-relative theme theme-2">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">秘境尋蹤人</h5>
          </div>
        </li>
        <li class="col-lg-3 col-sm-6">
          <div class="position-relative theme theme-3">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">品味設計家</h5>
          </div>
        </li>
        <li class="col-lg-3 col-sm-6">
          <div class="position-relative theme theme-4">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">美食探險記</h5>
          </div>
        </li>
        <li class="col-lg-3  col-sm-6">
          <div class="position-relative theme theme-5">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">美學建築誌</h5>
          </div>
        </li>
        <li class="col-lg-3  col-sm-6">
          <div class="position-relative theme theme-6">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">慢活生活行</h5>
          </div>
        </li>
        <li class="col-lg-3  col-sm-6">
          <div class="position-relative theme theme-7">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">工藝匠心賞</h5>
          </div>
        </li>
        <li class="col-lg-3  col-sm-6">
          <div class="position-relative theme theme-8">
            <h5 class="fs-6 fs-sm-5 text-white position-absolute top-50 start-50 translate-middle z-1">時尚先鋒派</h5>
          </div>
        </li>
      </ul>
    </div>
    <div class="container py-lg-11 py-9"> 
      <h2 class="fs-4 fs-sm-2 d-lg-none mb-6">精選文章</h2>
      <div class="row">
        <div class="col-lg-3 col-xxl-4 d-lg-flex flex-column justify-content-between d-none">
          <h2 class="fs-4 fs-sm-2">精選文章</h2>
          <div>
            <!-- <div class="swiper-pagination-num mb-7"></div> -->
            <div class="swiper-pagination-custom d-flex justify-content-between position-relative">
              <div class="swiper-prev d-inline-block rounded-pill btn btn-outline-secondary" style="padding: 5px 14px 0px 14px;"><i class="bi bi-arrow-left fs-4 text-gray-600"></i></div>
              <div class="swiper-next d-inline-block rounded-pill btn btn-outline-secondary" style="padding: 5px 14px 0px 14px;"><i class="bi bi-arrow-right fs-4 text-gray-600"></i></div>
           </div>
          </div>
        </div>
        <div class="col-12 mx-auto col-lg-9 col-xxl-8">
          <div class="swiper mySwiper mb-2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0  h-100">
                  <img src="../assets/images/articles-1.png" class="card-img-top" alt="私人島嶼的露營奇遇記">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis" >遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                    <a href="#" class="text-secondary-200 fw-bold fs-5 py-1 py-md-2 d-inline-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0" >
                  <img src="../assets/images/articles-2.png" class="card-img-top" alt="窺探米其林三星主廚的絕密手藝">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                    <div class="d-flex align-items-center">
                      <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                      <a href="" class="fw-bold ms-auto text-primary-400 pt-1 px-pt-1 px-2 bg-primary-300 rounded">會員專屬</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0" >
                  <img src="../assets/images/articles-1.png" class="card-img-top" alt="私人島嶼的露營奇遇記">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                    <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0">
                  <img src="../assets/images/articles-2.png" class="card-img-top" alt="窺探米其林三星主廚的絕密手藝">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                    <div class="d-flex align-items-center">
                      <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                      <a href="" class="fw-bold ms-auto text-primary-400 pt-1 px-2 bg-primary-300 rounded">會員專屬</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0" >
                  <img src="../assets/images/articles-1.png" class="card-img-top" alt="私人島嶼的露營奇遇記">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                    <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0">
                  <img src="../assets/images/articles-2.png" class="card-img-top" alt="窺探米其林三星主廚的絕密手藝">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                    <div class="d-flex align-items-center">
                      <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                      <a href="" class="fw-bold ms-auto text-primary-400 pt-1 px-2 bg-primary-300 rounded">會員專屬</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0" >
                  <img src="../assets/images/articles-1.png" class="card-img-top" alt="私人島嶼的露營奇遇記">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                    <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0">
                  <img src="../assets/images/articles-2.png" class="card-img-top" alt="窺探米其林三星主廚的絕密手藝">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                    <div class="d-flex align-items-center">
                      <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                      <a href="" class="fw-bold ms-auto text-primary-400 pt-1 px-2 bg-primary-300 rounded">會員專屬</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0">
                  <img src="../assets/images/articles-1.png" class="card-img-top" alt="私人島嶼的露營奇遇記">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                    <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0" >
                  <img src="../assets/images/articles-2.png" class="card-img-top" alt="窺探米其林三星主廚的絕密手藝">
                  <div class="card-body bg-primary-100 px-0 py-6" style="border-bottom: 0.01px solid rgba(52, 58, 64, 0.4);">
                    <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                    <p class="card-text text-gray-400 mb-6 multiline-ellipsis">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                    <div class="d-flex align-items-center">
                      <a href="#" class="text-secondary-200 fw-bold fs-5 d-inline-block py-1 py-md-2">Read More</a>
                      <a href="" class="fw-bold ms-auto text-primary-400 pt-1 px-2 bg-primary-300 rounded">會員專屬</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11 mx-auto d-lg-none justify-content-between d-flex mt-8">
          <div class="swiper-pagination-num fw-normal w-25"></div>
          <div class="swiper-pagination-custom position-relative d-flex justify-content-end">
            <div class="swiper-prev d-inline-block rounded-pill btn btn-outline-secondary" style="padding: 5px 14px 0px 14px;"><i class="bi bi-arrow-left fs-4 text-gray-600"></i></div>
            <div class="swiper-next d-inline-block rounded-pill btn btn-outline-secondary" style="padding: 5px 14px 0px 14px;"><i class="bi bi-arrow-right fs-4 text-gray-600"></i></div>
          </div>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

  </body>
</html>
